/* Basic reset */
body, h1, h2, p, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */

  
  /* Container for products */
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  /* Styling for each product */
  .product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    position: relative;
    font-size: small;
  }
  
  /* Product image */
  .product img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #FFD631;
  }
  
  /* Product title and brief description */
  .product h2 {
    font-size: 1rem;
    color: #333;
    margin: 10px 0;
    font-weight: 100;
    font-weight: bolder;
  }
  
  .product .short-info {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  /* Button to show more info */
  .show-more-btn {
    background-color: #FFD631;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .show-more-btn:hover {
    background-color: #e6c000;
  }
  
  /* More information section */
  .more-info {
    display: none;
    margin-top: 10px;
  }
  
  /* Show more information when active */
  .more-info.active {
    display: block;
  }
  

  .navbar-nav .nav-link {
    color: #222222 ;
    
}



.navbar-nav .nav-link:hover{
    
    color:#FFD631;
}

    
 .logo {
  width: 100px; 
  height: auto; 
}
.navbar-brand .logo {
    width: 120px; 
    height: auto; 
}



.a{
    background-color: #FFD631 ;
}

nav{
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    border: 3px solid  #222222;

}


.dropdown-item {
  color: #222222;
  background-color: #FFD631;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* footer css  */

footer {
    background-color:  #FFD631;
    color: black; 
    padding: 5px;
    text-align: center;
  }
  
  
  @media (max-width: 991px) {
    footer {
      display: block;
      text-align: center;
    }
  }
  
  
  @media (min-width: 992px) {
    footer {
      display: flex; 
      justify-content: space-around;
      align-items: center; 
      text-align: center;
    }
  }
  
  @media (max-width: 733px) {
    
    .footer-section p {
      width: auto !important;
      justify-content: center;
    }
  }
  
  .footer-section {
    margin: 10px;
  }
  
  
  
  .star {
    font-size: 24px;
    cursor: pointer;
  }
  .star:hover {
    color: #FFD631;
  }


  
  
  
  